@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
body{
    background-color: aliceblue;
    font-family: "Oswald", sans-serif;
}

h1,h3{
    font-family: "Boldonse", system-ui;
}

